h2= subject.name
form(method: 'post', action: 'update')
	p Edit
	label Name:
		input(type: 'text', name: 'rating')
		input(type: 'text', name: 'note')
		input(type: 'text', name: 'author')
	input(type: 'submit', value: 'Add Note')