form(method: 'post', action: 'update')
	input(type: 'hidden', name: '_method', value: 'put')
	p
		| Create a new subject
	label Name:
		input(type: 'text', name: 'subject[name]')
	input(type: 'submit', value: 'Update')