h2= subject.name
form(method: 'post', action: 'update')
	p Add Note
	label Rating:
		input(type: 'text', name: 'rating')
	label Note:
		textarea(name: 'note')
	label Author:
		input(type: 'text', name: 'author')
	input(type: 'submit', value: 'Submit')