h2= Add Note for subject.name
form(method: 'post', action: '/subject/' + subject._id + '/update')
	p
		label Rating:
			input(type: 'text', name: 'rating')
	p
		label Note:
			textarea(name: 'note')
	p
		label Author:
			input(type: 'text', name: 'author')
	p
		input(type: 'submit', value: 'Submit')