ul#subjects
	- each subject in subjects
		- if (!subject.archived)
			li.subject
				form.updatesubject(method: 'post', action: '/subject/' + subject._id + '/update')
					span.name #{subject.name}
					span.stars Stars go here
					a.delete(href: '/subject/' + subject._id + '/delete') archive

form#newsubject(method: 'post', action: '/subject/create')
	input(type: 'text', name: 'subject[name]')
	input(type: 'submit', value: 'Create New')
