ul#subjects
	- each subject in subjects
		- if (!subject.archived)
			li.subject(rel: subject._id)
				span.name #{subject.name}
				a.stars(href: '/' + subject._id, id: 'rating-' + subject._id, rel: subject.rating)

form#newsubject(method: 'post', action: '/create')
	input(type: 'text', name: 'subject[name]')
	input(type: 'submit', value: 'Create New')
