h2 Subject List
ul#subjects
	- each subject, id in subjects
		li
			a(href='/subject/' + id)= subject.name
			a.edit(href: '/subject/' + id + '/edit') edit
			a.delete(href: '/subject/' + id + '/delete') delete