h2 Subjects
ul#subjects
	- each subject in subjects
		- if (!subject.archived)
			li.subject
				a(href='/subject/' + subject._id) #{subject.name}
				form(method: 'post', action: '/subject/' + subject._id + '/update')
					span Stars go here
					a.delete(href: '/subject/' + subject._id + '/delete') archive

form#newsubject(method: 'post', action: '/subject/create')
	input(type: 'text', name: 'subject[name]')
	input(type: 'submit', value: 'Create New')
