h2 New Subject
	form(method: 'post', action: '/subject')
		input(type: 'hidden', name: '_method', value: 'put')
		input(type: 'text', name: 'subject[name]')
		input(type: 'submit', value: 'Create')

h2 Subject List
ul#subjects
	- each subject in subjects
			li
				a(href='/subject/' + subject._id) #{subject.name}
				a.edit(href: '/subject/' + subject._id + '/update') update
				form.delete(action: '/subject')
					input(type: 'hidden', name: '_method', value: 'del')
					input(type: 'hidden', name: 'id', value: subject._id)
					input.delete(type: 'submit', value: 'Delete')