h2 New Subject
	form(method: 'post', action: '/subject/create')
		input(type: 'text', name: 'subject[name]')
		input(type: 'submit', value: 'Create')

h2 Subject List
ul#subjects
	- each subject in subjects
			li
				a(href='/subject/' + subject._id) #{subject.name}
				a.edit(href: '/subject/' + subject._id + '/update') update
				a.delete(href: '/subject/' + subject._id + '/delete') delete