h2 New Subject
	form(method: 'post', action: '/subject/create')
		input(type: 'text', name: 'subject[name]')
		input(type: 'submit', value: 'Create')

h2 Subject List
ul#subjects
	- each subject, id in subjects
		li
			a(href='/subject/' + id)= subject.name
			a.edit(href: '/subject/' + id + '/update') update
			a.delete(href: '/subject/' + id + '/delete') delete