- if (subject.notes)
	ul.note
		- each note in subject.notes
			li.note= note.note

form.addnote(method: 'post', action: '/subject/addnote')
	input(type: 'text', name: 'content')
	input(type: 'submit', value: 'Add Note')