ul.note
	- each note in subject.notes
		li.content= note

form.addnote(method: 'post', action: '/subject/' + subject._id + '/note')
	input(type: 'text', name: 'content')
	input(type: 'submit', value: 'Add Note')