ul.notes
	- each note in subject.notes
		li.content= note

form.addnote(method: 'post', action: '/subject/' + subject._id + '/note', rel: subject._id)
	input.note(type: 'text', name: 'content')
	input(type: 'submit', value: 'Add Note')