h2 Add Subject
form#add_subject(method: 'post', action: '/subject/new')
	input(type: 'text', name: 'name', id: 'subject_name')
	input(type: 'submit' value: 'Create Subject')

h2 Subject List
ul#subjects
	- each subject in subjects
		li
			input(type: 'checkbox', name: 'subject_id')
			strong.name= subject.name
			span.rating= subject.rating
			