!!! 5
html(lang="en")
  head
    title= pageTitle
  body
    h1 Do we have a Quorum?
    #container
      - each subject in subjects
        %section.subject
          %h3.name= subject.name
          %ul.notes
            - each note in subject.notes
               %li.note= note