!!! 5
html
    head
        meta(charset: 'utf-8' )
        meta(http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1')
        title Thumbs
        link(rel: 'stylesheet', href: '/reset.css')
        link(rel: 'stylesheet', href: '/main.css')
        link(href: 'data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=', rel: 'icon', type: 'image/x-icon')		
    body
        != body
        - if (this.development)
            script(src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js')
        - else
            script(src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')