border-image()
	-webkit-border-image arguments
	-moz-border-image arguments
	border-image arguments

body
	font 16px helvetica, arial, sans-serif
	color #333

a
	color #66F
	text-decoration none

h2
	font-size 1.4em
	color #00F

#subjects li
	list-style-type none
	margin-bottom 6px
	width 160px

#subjects a
	margin 0px 10px
	background-color #CCC
	padding 2px 5px

form input
	padding 5px
	border 1px solid
