border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

body
	font 16px helvetica, arial, sans-serif
	color #333

#subjects
	max-width 400px
	margin 0px auto

.subject
	list-style-type none
	margin-bottom 6px
	background-color #DDF
	border-radius(7px)
	&:hover
		background-color #DFD

#newsubject
	background-color #DDD
	max-width 400px
	margin 0px auto
	border-radius(7px)
	
form input
	padding 5px
	border 1px solid
