// Functions
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

// Variables
max-width = 800px
create-form-height = 42px

// Main Styles
body
	font 36px helvetica, arial, sans-serif
	color #333
	max-width max-width
	margin 0px auto

.subject
	margin-top 5px
	background-color #DDF
	padding 5px
	border-radius(7px)
	&:hover
		background-color #DFD
		cursor pointer
		transition(background-color .3s ease-in-out)
	& .name
		float left
	& .stars
		float right

.active
	background-color #FDD
	transition(background-color .3s ease-in-out)

.clear
	clear both

.addnote
	padding 5px
	& input[type=text]
		vertical-align bottom
		width 80%
		// TODO: use variables here
		height 37px
	& input[type=submit]
		width 17%
		height create-form-height
		margin-left 10px
		font-size 20px

#newsubject
	background-color #DDD
	border-radius(7px)
	padding 5px
	margin-top 5px
	& input[type=text]
		vertical-align bottom
		width 80%
		// TODO: use variables here
		height 37px
	& input[type=submit]
		width 17%
		height create-form-height
		margin-left 10px
		font-size 20px

form input
	border 1px solid
