border-image()
	-webkit-border-image arguments
	-moz-border-image arguments
	border-image arguments

body
	font 18px Helvetica, sans-serif
	color #333
	
h2
	color #00F

ul, ol
	list-style-type none

form input
	padding 5px
	border 1px solid
